//- vars.jade
//- This file contains all configuration variables,
//- like :
//- 	- paths
//- 	- envirenment vars
//- 	- ...

- var paths = {	'scripts': {'local': 'assets/js', 'vendor': 'assets/js/vendor'},'styles': {'local': 'assets/css', 'vendor': 'assets/css/vendor'},'imgs': 'assets/imgs'}


